{% extends 'base.html' %}
{% block conteudo %}
<body background="../static/imagens/fundo.png">
    <header>
        <nav id="menu">
            <img id="logo" src="../static/imagens/logo.png" alt="">
            <ul class="nav-list">
                <li><a href="/">Home</a></li>
                <li><a href="/quemsomos">Quem somos</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>
<div class="container">
   <div id="capa">
        <img src="../static/imagens/capa.png" alt="">
   </div>
   <div class="texto-home">
       <h1 style="text-align: center;">Sobre a universidade</h1>
       <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, eveniet, quaerat rerum recusandae nulla quidem assumenda sunt omnis, dignissimos accusantium obcaecati maxime voluptatum. Delectus culpa ullam doloribus, voluptates odit dolorum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione tenetur repudiandae soluta harum, labore in dicta aspernatur quibusdam, pariatur quae qui fuga odit nostrum consectetur aperiam commodi non ea fugit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nobis quaerat provident aliquam ab, officia repellat! Veritatis natus distinctio aperiam esse quam magni. Voluptatum doloremque at perferendis voluptatibus. Quidem, voluptate!</p>
       <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolor, magnam? Officiis, excepturi nemo. Voluptatibus dolor tempora magni non consequuntur nemo laborum, sit, provident recusandae rem error itaque ab eveniet voluptatem. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, sint. Fugit assumenda illum commodi soluta ab est, ratione, modi dolores, nostrum rem laudantium recusandae necessitatibus consectetur! Laudantium inventore a expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, sequi tenetur voluptatem voluptatibus quo cumque minima voluptatum dolorum nemo enim impedit accusantium odio. Magnam, culpa corrupti? Accusamus molestias quos eius!</p>
       <b>
           <p style="margin-left:40%; width: 20%;">Todos os direitos reservados</p>
       </b>
   </div>
</div>
</body>
</html>
{% endblock conteudo %}
</body>